<table class="table" style="margin-top: 15vh;">
  <% @entries.each do |entry| %>
  <tr>
    <th>
      User first name: <%= entry.user.name %>
    </th>
    <th>
      Entry Title: <%= entry.name %>
    </th>
    <th>
      Entry ID: <%= entry.id %>
    </th>
    <th>
      <button type="button" name="button" class="btn btn-warning delete-entry-button" value="<%= entry.id %>">DELETE ENTRY</button>
    </th>
  </tr>
  <% end %>
</table>
