
<div class="about-main">
  <section class="about-intro">
    <div class="container-fluid intro-container">
      <div class="col-lg-8 col-lg-offset-2 intro-text-wrapper">
        <h1>THE GREAT CANADIAN WILDERNESS NORTH OF TORONTO</h1>
        <h3>An iconic travel adventure in Canada is waiting for you just two hours north of Toronto’s international airports.</h3>
        <h3>From world-famous Algonquin Provincial Park in the east to the UNESCO-designated Georgian Bay Biosphere Reserve in the west, the most gorgeous natural landscape in our nation provides the backdrop for your next unforgettable vacation.</h3>
        <h3>Celebrate Canada’s 150th birthday in 2017 by booking your trip to the region that inspired our country’s legendary painters – Tom Thomson and the Group of Seven.</h3>
		<h3 style="margin-top:5vh"><a href="http://www.explorersedge.ca" class="button-main about-top-button">To plan your stay, visit ExplorersEdge.ca</a></h3>
      <h3 style="margin-top:5vh"><a href="http://www.explorersedge.ca" class="button-main about-top-button small">Stay with Explorer's Edge</a></h3>
        <div class="arrow bounce">

        </div>
      </div>
    </div>
  </section>
<section class="exploremore">
    <div class="container-fluid">
      <div class="col-md-8 col-md-offset-2" style="text-align:center">
        <h1 class="explore-heading">EXPLORE MORE</h1>
      </div>
    </div></section>
  </section>
	<section class="pamperedwilderness">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-4 col-md-8 col-sm-8">
				<div class="textpadbackground">
				<h1>The Pampered Wilderness</h1>
				<h3>No need to rough it in the wilderness north of Toronto. From log cabins to lakeside cottages, from hotels to B&Bs, you can dip in and out of the great outdoors from the comfort of many fine accommodations. Relax before and after your next adventure, and let someone else take care of all the details.</h3>
				<h3 style="margin-top:5vh"><a href="http://explorersedge.ca/canada-150-the-pampered-wilderness-north-of-toronto/" class="button-main">Learn More</a></h3>
			</div>
		</div>
	</section>
		<section class="glamping">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-5 col-md-offset-3 col-sm-offset-2 col-lg-4 col-md-8 col-sm-8">
				<div class="textpadbackground">
				<h1>Camping & Glamping</h1>
				<h3>Sleeping in a tent is a rite of passage in Canada, as is sitting around a crackling campfire in the evening. Plenty of outfitters can gear you up for a night out under the stars (and you may see the Northern Lights if you’re lucky). Glamorous camping – or glamping – is also a unique option.</h3>
				<h3 style="margin-top:5vh"><a href="http://explorersedge.ca/campgrounds-roughin-it-and-lovin-it/" class="button-main">Learn More</a></h3>
			</div>
		</div>
	</section>
		<section class="paddling">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-4 col-md-8 col-sm-8">
				<div class="textpadbackground">
				<h1>Paddling</h1>
				<h3>With thousands of sparkling blue lakes and rivers carpeting the landscape, canoeing, kayaking and stand up paddle boarding are the best you’ll find anywhere in Canada. A trip to Canada should absolutely include a paddle in your hand at some point!</h3>
				<h3 style="margin-top:5vh"><a href="http://explorersedge.ca/canada-150-paddling-canadian-wilderness-north-toronto/" class="button-main">Learn More</a></h3>
			</div>
		</div>
	</section>
		<section class="outdooradventure">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-5 col-md-offset-3 col-sm-offset-2 col-lg-4 col-md-8 col-sm-8">
				<div class="textpadbackground">
				<h1>Outdoor Adventure</h1>
				<h3>Rocks, trees and lakes – that’s what we’re known for in these parts and there’s plenty of outdoor adventure to go along with all three.  Hike, bike, swim, paddle, boat, ATV cruise and tree top trek. Whatever you’d like to do to experience our incredible natural landscape, you’ll find it here.</h3>
				<h3 style="margin-top:5vh"><a href="http://explorersedge.ca/get-your-gear-outfitters-in-explorers-edge/" class="button-main">Learn More</a></h3>
			</div>
		</div>
	</section>
		<section class="craftbeer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-4 col-md-8 col-sm-8">
				<div class="textpadbackground">
				<h1>Craft Beer & Wine</h1>
				<h3>With four award-winning breweries found on the ale trail here, this region of Ontario is a popular destination for beer fans. And a stop at the local winery is a must for those interested in award-winning wines produced from local products – namely cranberries and blueberries. Lots of amazing makers to visit for an après adventure on the cottage country beer trail!</h3>
				<h3 style="margin-top:5vh"><a href="http://explorersedge.ca/canada-150-craft-beer-wine-wilderness-north-toronto/" class="button-main">Learn More</a></h3>
			</div>
		</div>
	</section>
		<section class="golf">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-5 col-md-offset-3 col-sm-offset-2 col-lg-4 col-md-8 col-sm-8">
				<div class="textpadbackground">
				<h1>Golf</h1>
				<h3>It’s 100% true that some of the best golf to be found in Canada is located in Muskoka, Ontario. With over 30 places to enjoy the game – including multiple championship courses – golf fans will love the unique challenges of playing among our iconic rocks, trees and lakes. Relax in club houses with the best scenery in the nation, and check out Play & Stay packages.</h3>
				<h3 style="margin-top:5vh"><a href="http://explorersedge.ca/golf-courses-in-explorers-edge/" class="button-main">Learn More</a></h3>
			</div>
		</div>
	</section>

  <section class="tourism-bottom">
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Create Your Own Adventure</h1>
        <h4 class="learn-more" style="text-align:center">Want to learn more about a vacation in the great Canadian wilderness just two hours north of Toronto?</h4>
    <h4 style="text-align:center">Sign up for our Travel Newsletter.</h4>
        <div class="email-form">
          <%= render "emailform" %>
        </div>
        <div class="bottom-hero-images">
          <img src="http://res.cloudinary.com/dx3z90dgl/image/upload/v1485797844/RTO12Logo_Angled_NEW-01_m8ufwu.svg" alt="Rto12logo angled 01 a4euwt">
        </div>
      </div>
      </div>
    </div>
  </section>



</div>
