<object data="http://res.cloudinary.com/dx3z90dgl/image/upload/v1492008402/FINAL_RULES_REGS_APRIL_10_2017_2_xlfjtv.pdf" type="application/pdf" width="auto" height="auto">
   <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="http://res.cloudinary.com/dx3z90dgl/image/upload/v1492008402/FINAL_RULES_REGS_APRIL_10_2017_2_xlfjtv.pdf">Download PDF</a>.</p>
</object>
